   .hero {
            background-image: url('https://royal-salmon-p2d1aawh.edgeone.dev/IMG_8436.jpeg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }